<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Do not rewrite if the requested resource is an existing file or directory
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Route all other requests to index.php
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
